<div class="toolbar-view">
  <mat-toolbar>
    <span>Monitor</span>
  </mat-toolbar>
  <mat-grid-list cols="3" rows="2" class="main-content">
    <mat-grid-tile colspan="2" rowspan="2">
      <div class="tile-content">[chart]</div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="tile-content toolbar-view">
        <mat-toolbar>Send requests</mat-toolbar>
        <div class="main-content">

        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="tile-content toolbar-view">
        <mat-toolbar>Logs</mat-toolbar>
        <div class="main-content logs-container">
          Test log
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>