

mat-grid-list {
  background: #000;
  padding-top: 20px;

  mat-grid-tile {
    background: #303030; 

    .tile-content {
      width: 100%;
      height: 100%;
    }
  }
}

.logs-container {
  font-family: 'Courier New', Courier, monospace;
  padding: 4px;
}